<!-- <form>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">First Name</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Age</label>
            <input type="number" class="form-control" id="inputEmail44" placeholder="How old are you?">
          </div> -->
      <!-- </div>  
  <div class="form-row"> -->
      <!-- <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail54" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword44" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Short Bio</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="What are you into?">
    </div>
    <div><p>Gender</p>
      <div class="form-check">
  
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Female
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Male
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
        <label class="form-check-label" for="exampleRadios3">
          Other
        </label>
      </div>
      </div>
    
    <div class="form-row">
      
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    
<div class="buttonsection">
  <h2 class="cata">Things you're interested in!</h2>
      <button type="button" class="btn btn-outline-primary">Concerts</button>
      <button type="button" class="btn btn-outline-secondary">Museums</button>
      <button type="button" class="btn btn-outline-success">Food</button>
      <button type="button" class="btn btn-outline-danger">Exciting</button>
      <button type="button" class="btn btn-outline-warning">Sports</button>
      <button type="button" class="btn btn-outline-info">Art</button>
      <button type="button" class="btn btn-outline-dark">Movies</button>
      <br><button type="button" class="btn btn-outline-primary">Exercise</button>
      <button type="button" class="btn btn-outline-secondary">Night Life</button>
      <button type="button" class="btn btn-outline-success">Hip-Hop</button>
      <button type="button" class="btn btn-outline-danger">Technology</button>
      <button type="button" class="btn btn-outline-warning">Working</button>
      <button type="button" class="btn btn-outline-info">History</button>
      <button type="button" class="btn btn-outline-dark">Crypto Life</button><br>
      <button type="button" class="btn btn-outline-primary">Rock</button>
      <button type="button" class="btn btn-outline-secondary">Museums</button>
      <button type="button" class="btn btn-outline-success">Nature</button>
      <button type="button" class="btn btn-outline-danger">Philosophy</button>
      <button type="button" class="btn btn-outline-warning">Dancing</button>
      <button type="button" class="btn btn-outline-info">Space</button>
      <button type="button" class="btn btn-outline-dark">Movies</button><button type="button" class="btn btn-outline-primary">Concerts</button>
      <button type="button" class="btn btn-outline-secondary">Museums</button>
      <button type="button" class="btn btn-outline-success">Food</button>
      <button type="button" class="btn btn-outline-danger">Photography</button>
      <button type="button" class="btn btn-outline-warning">Sports</button>
      <button type="button" class="btn btn-outline-info">Art</button>
      <button type="button" class="btn btn-outline-dark">Movies</button>
</div>
<br>


<button type="button" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
  </form> -->