<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">REAL.AGENT</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="row">
      <div class="column">
        <div class="card">
          <img src="img1.jpg" alt="Jane" style="width:100%">
          <div class="container">
            <h2>AGENT1</h2>
            <p class="title">AGENT</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button" routerLink="contact">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="img2.jpg" alt="Mike" style="width:100%">
          <div class="container">
            <h2>AGENT2</h2>
            <p class="title">AGENT</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="img3.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>AGENT3</h2>
            <p class="title">AGENT</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
          <div class="column">
            <div class="card">
              <img src="img1.jpg" alt="Jane" style="width:100%">
              <div class="container">
                <h2>AGENT</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="img2.jpg" alt="Mike" style="width:100%">
              <div class="container">
                <h2>AGNET5</h2>
                <p class="title">AGENT</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="img3.jpg" alt="John" style="width:100%">
              <div class="container">
                <h2>AGENT6</h2>
                <p class="title">AGENT</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
              <div class="column">
                <div class="card">
                  <img src="img1.jpg" alt="Jane" style="width:100%">
                  <div class="container">
                    <h2>AGENT7</h2>
                    <p class="title">AGENT</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="img2.jpg" alt="Mike" style="width:100%">
                  <div class="container">
                    <h2>AGENT8</h2>
                    <p class="title">AGENT</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="img3.jpg" alt="John" style="width:100%">
                  <div class="container">
                    <h2>AGNET9</h2>
                    <p class="title">AGENT</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
            </div>
            <router-outlet></router-outlet>