<!-- <div class="body">
  <form #contactForm="ngForm" (ngSubmit)="newEvent()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fName">Event Name</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Event Name" name="eventname" [(ngModel)]="contact.eventname"> {{contact.eventname}}
      </div>
      <div class="form-group col-md-6">
        <label for="fName">First Name</label>
        <input type="text" class="form-control" id="inputEmail44" placeholder="First Name" name="firstname" [(ngModel)]="contact.firstname"> {{contact.firstname}}
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last Name</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name" name="lastname" [(ngModel)]="contact.lastname"> {{contact.lastname}}
      </div>

      <div class="form-group col-md-6">
        <label for="inputText">Event Type:</label>
        <input type="text" class="form-control" id="inputText" name="eventType" [(ngModel)]="contact.eventType"> {{contact.eventType}}
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword">Time</label>
        <input type="text" class="form-control" id="inputPassword3" placeholder="Time" name="time">

      </div>
      <br>
    
    <div class="form-group col-md-6">
      <label for="inputAddress">Email</label>
      <input type="email" class="form-control" id="inputAddress" placeholder="Email" name="email" [(ngModel)]="contact.email"> {{contact.email}}
    </div> -->

    <!-- <div class="form-row"> -->
<!--      
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" name="city" [(ngModel)]="contact.city"> {{contact.city}}
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputStatee" class="form-control" name="state" [(ngModel)]="contact.state">{{contact.state}}
          <option selected>Choose...</option>
          <option>California</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip" name="zipcode" [(ngModel)]="contact.zipcode"> {{contact.zipcode}}
      </div>
   
   
   
    </div>
         -->
    <!-- submit button -->
   


   
   
    <!-- <input type="submit" value="submit">
  </form>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        <br>
        <br>
      </h1>
      <p class="lead"></p>
    </div>
  </div>
</div> -->