.jumbotron
{
    /* margin-top: 0px; */
background-image: url("http://i.ebayimg.com/images/g/5OcAAOSwTuJYo4Jm/s-l1600.jpg");
background-size: cover;
padding-top: 50px;
height: 300px;}





#jumbotite{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font-size: 4.5em ;
}

#jumbosubtit{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font-size: 2em ;
}



.submit{text-align:center;}
/* .body{ */
/* width: 20%; */
/* margin-left: 5%; */
/* margin-right:5%; */
        /* margin-top:5%}*/ 

.form-row{margin-bottom:5%}

.forwords{text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 4.5em Georgia, serif;
}

.listevent{text-align:center;}


