<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TAGALONG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="Home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="agents">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">List Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signuppage">Sign Up</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="contactme">Contact</a>
      </li>
      <li class="nav-item">
        <!-- Button to open the modal login form -->
        <button onclick="document.getElementById('id01').style.display='block'">Login</button>

        <!-- The Modal -->
        <div id="id01" class="modal">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>



          <!-- Modal Content -->
          <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
              <img src="https://www.t-mobile.com/content/dam/t-mobile/assets/foreground/devices/fg-iPhone8-crop-prereg-750x750.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
              <label for="uname">
                <b>Username</b>
              </label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <label for="psw">
                <b>Password</b>
              </label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot
                <a href="#">password?</a>
              </span>
            </div>
          </form>

        </div>
      </li>

    </ul>

  </div>
</nav>



<router-outlet></router-outlet>