.jumbotron
{margin-top: 0px;
background-image: url("http://i.ebayimg.com/images/g/5OcAAOSwTuJYo4Jm/s-l1600.jpg");
background-size: cover;
padding-top: 50px}

.hello{
    text-align:center;
}

.pictureone{
    text-align:center;
}

#jumbotite{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font-size: 4.5em ;
}

#jumbosubtit{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font-size: 2em ;
}

.carousel {
    /* border-style:solid; */
    width:px;
    height:px;
  }
  #mse{
      color:black;
  }
  #mseone
  
  {color:black;}

  .underpic{
      text-align:center;
  }
  .memoryCaption{border-bottom-style:solid;
    text-align:center;}


.body{Background-color:orange}

.continerforparas{padding-top: 30px;
margin-bottom:100px;
}

.musk{text-align:center;}